@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

label {
    @apply text-sm font-normal;
}

.dark {
    @apply bg-slate-950 text-white;
}

.light {
    @apply text-slate-900 bg-slate-50;
}

/* Buttons */
.btn {
    @apply relative flex items-center justify-center  border px-5 py-2 text-sm font-semibold  outline-none transition duration-300;
}
.btn-lg {
    @apply px-7 py-2.5 text-base;
}
.btn-sm {
    @apply px-2.5 py-1.5 text-xs;
}
.btn[disabled] {
    @apply cursor-not-allowed opacity-60;
}

.btn-primary {
    @apply border-primary-500 bg-primary-500 text-white hover:bg-primary-600;
}
.btn-outline-primary {
    @apply border-primary-500 text-primary-500 hover:bg-primary-500 hover:text-white;
}

.btn-secondary {
    @apply border-secondary-500 bg-secondary-500 text-white hover:bg-secondary-600;
}
.btn-outline-secondary {
    @apply border-secondary-500 text-secondary-500 hover:bg-secondary-500 hover:text-white;
}

.btn-success {
    @apply border-success-500 bg-success-500 text-white hover:bg-success-600;
}
.btn-outline-success {
    @apply border-success-500 text-success-500 hover:bg-success-500 hover:text-white;
}

.btn-danger {
    @apply border-danger-500 bg-danger-500 text-white hover:bg-danger-600;
}
.btn-outline-danger {
    @apply border-danger-500 text-danger-500 hover:bg-danger-500 hover:text-white;
}

.btn-warning {
    @apply border-warning-500 bg-warning-500 text-white hover:bg-warning-600;
}
.btn-outline-warning {
    @apply border-warning-500 text-warning-500 hover:bg-warning-500 hover:text-white;
}

.btn-info {
    @apply border-info-600 bg-info-600 text-white hover:bg-info-700;
}
.btn-outline-info {
    @apply border-info-600 text-info-600 hover:bg-info-600 hover:text-white;
}

.btn-dark {
    @apply border-dark bg-dark text-white shadow-dark/60;
}

.btn-outline-dark {
    @apply border-dark text-dark shadow-none hover:bg-dark hover:text-white;
}

/* Badge */
.badge {
    @apply relative my-1 rounded border border-transparent px-2 py-0.5 text-xs font-semibold text-white;
}
.badge-outline-primary {
    @apply border-primary-500 text-primary-500 hover:bg-primary-500/90 dark:hover:bg-primary-500 dark:hover:text-white/90;
}
.badge-outline-secondary {
    @apply border-secondary-500 text-secondary-500 hover:bg-secondary-500/90 dark:hover:bg-secondary-500 dark:hover:text-white/90;
}
.badge-outline-success {
    @apply border-success-500 text-success-500 hover:bg-success-500/90 dark:hover:bg-success-500 dark:hover:text-white/90;
}
.badge-outline-danger {
    @apply border-danger-500 text-danger-500 hover:bg-danger-500/90 dark:hover:bg-danger-500 dark:hover:text-white/90;
}
.badge-outline-warning {
    @apply border-warning-500 text-warning-500 hover:bg-warning-500/90 dark:hover:bg-warning-500 dark:hover:text-white/90;
}
.badge-outline-info {
    @apply border-info-500 text-info-500 hover:bg-info-500/90 dark:hover:bg-info-500 dark:hover:text-white/90;
}
.badge-outline-dark {
    @apply border-dark text-dark hover:bg-dark/90 dark:hover:bg-dark dark:hover:text-white/90;
}

/* Form */
.form-input,
.form-textarea,
.form-select,
.form-multiselect {
    @apply w-full rounded-md border border-[#e0e6ed] bg-white px-4 py-2 text-sm text-black !outline-none focus:border-primary-500 focus:ring-transparent dark:border-[#17263c] dark:bg-[#121e32] dark:text-white/70 dark:focus:border-primary-500;
}

.form-input-lg,
.form-textarea-lg,
.form-select-lg,
.form-multiselect-lg {
    @apply py-2.5 text-base;
}
.form-input-sm,
.form-textarea-sm,
.form-select-sm,
.form-multiselect-sm {
    @apply py-1.5 text-xs;
}
label {
    @apply mb-1.5 block font-semibold;
}
[dir="rtl"] select {
    background-position: left 0.5rem center;
}

.has-error .form-input,
.has-error .form-textarea,
.has-error .form-select,
.has-error .form-multiselect,
.has-error .multiselect__tags {
    @apply border-danger-500 bg-danger-500/[0.08] text-danger-500 placeholder-danger-500/70 focus:border-danger-500;
}
.has-error .form-label,
.has-error .form-help,
.has-error .form-icon,
.has-error .multiselect__placeholder {
    @apply text-danger-500;
}
.has-error .multiselect__input {
    @apply bg-[#F7ECF0] !placeholder-danger-500/70;
}
.has-error .multiselect__tags:hover,
.has-error .form-checkbox {
    @apply border-danger-500;
}

.has-success .form-input,
.has-success .form-textarea,
.has-success .form-select,
.has-success .form-multiselect,
.has-success .multiselect__tags {
    @apply border-success-500 bg-success-500/[0.08] text-success-500 placeholder-success-500/70 focus:border-success-500;
}
.has-success .form-label,
.has-success .form-help,
.has-success .form-icon,
.has-success .multiselect__placeholder {
    @apply text-success-500;
}
.has-success .multiselect__input {
    @apply bg-[#F7ECF0] !placeholder-success-500/70;
}
.has-success .multiselect__tags:hover {
    @apply border-success-500;
}

/* checkbox & radio */
.form-radio,
.form-checkbox {
    @apply h-5 w-5 cursor-pointer rounded-md border-2 border-[#e0e6ed] bg-transparent text-primary-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] disabled:cursor-not-allowed disabled:bg-[#eee] ltr:mr-1.5 rtl:ml-1.5
  dark:border-[#253b5c] dark:checked:border-transparent dark:disabled:bg-[#1b2e4b];
}

.form-checkbox.outline-primary:checked {
    @apply border-primary-500 bg-transparent;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%234361ee' xmlns='http://www.w3.org/2000/svg'><path d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/></svg>");
}
.form-checkbox.outline-secondary:checked {
    @apply border-secondary-500 bg-transparent;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23805dca' xmlns='http://www.w3.org/2000/svg'><path d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/></svg>");
}
.form-checkbox.outline-success:checked {
    @apply border-success-500 bg-transparent;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%2300ab55' xmlns='http://www.w3.org/2000/svg'><path d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/></svg>");
}
.form-checkbox.outline-danger:checked {
    @apply border-danger-500 bg-transparent;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23e7515a' xmlns='http://www.w3.org/2000/svg'><path d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/></svg>");
}
.form-checkbox.outline-warning:checked {
    @apply border-warning-500 bg-transparent;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23e2a03f' xmlns='http://www.w3.org/2000/svg'><path d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/></svg>");
}
.form-checkbox.outline-info:checked {
    @apply border-info-500 bg-transparent;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%232196f3' xmlns='http://www.w3.org/2000/svg'><path d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/></svg>");
}
.form-checkbox.outline-dark:checked {
    @apply border-dark bg-transparent;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%233b3f5c' xmlns='http://www.w3.org/2000/svg'><path d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/></svg>");
}

.form-radio {
    @apply rounded-full;
}

.form-radio.outline-primary:checked {
    @apply border-primary-500 bg-transparent bg-none;
}
.form-radio.outline-secondary:checked {
    @apply border-secondary-500 bg-transparent bg-none;
}
.form-radio.outline-success:checked {
    @apply border-success-500 bg-transparent bg-none;
}
.form-radio.outline-danger:checked {
    @apply border-danger-500 bg-transparent bg-none;
}
.form-radio.outline-warning:checked {
    @apply border-warning-500 bg-transparent bg-none;
}
.form-radio.outline-info:checked {
    @apply border-info-500 bg-transparent bg-none;
}
.form-radio.outline-dark:checked {
    @apply border-dark bg-transparent bg-none;
}
